body{
    background:plum;
}

canvas{
    z-index: 0;
    border:solid 3px black;
}

#dice{
    position:absolute;
    border:solid 4px black;
    height:100px;
    width:100px;
    background-color: white;
    top: 20px;
    left: 1250px;
    font-size:16px;
    border-radius: 12px;
}
#dice:active{
    background-color: antiquewhite;
}

#rollresult{
    position:absolute;
    border: solid 4px black;
    height:30px;
    width:200px;
    background-color: white;
    top:125px;
    left:1200px;
    font-size:20px;
    border-radius: 12px;
    text-align: center;
}

.vertex:active{
    background-color: gray;
}